<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnLUHM53MlzE7XW9Rb0vszImaUfePMk5w</string>
	<key>GCM_SENDER_ID</key>
	<string>548668179137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.concierge.app</string>
	<key>PROJECT_ID</key>
	<string>concierge-4288b</string>
	<key>STORAGE_BUCKET</key>
	<string>concierge-4288b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:548668179137:ios:b3304f86ea15aac16f8a40</string>
</dict>
</plist>
